@media (max-width: 1000px) {
	.service {
		width: 50%;
		margin-bottom: 50px;
	}
	.top-wrapper h1 {
		font-size: 95px;
	}
	.top-wrapper h2 {
		font-size: 70px;
		margin-top: -23px;

	}
	.top-wrapper p {
		font-size: 20px;
		line-height: 22px; 
		width: 300px;
		margin-top: -30px;
	}
}
@media (max-width: 670px) {
	.service {
		width: 100%;
	}
	.main-wrapper {
		margin: 0;
		text-align: center;
	}
	footer{
		height: 350px;
		text-align: center;
	}
	footer img {
		width: 150px;
		margin: 0;
		padding-top: 25px;
	}
	.contact {
		float: none;
		margin: 0px;
		padding-top: 25px;

	}
	.header-right {
		display: none;
	}
	.menu-icon {
		display: block;
	}
	.top-wrapper {
		padding-left: 55px;
	}
	.top-wrapper h1 {
		font-size: 75px;
	}
	.top-wrapper h2 {
		font-size: 50px;
		margin-top: -15px;

	}
	.top-wrapper p {
		font-size: 18px;
		line-height: 20px; 
		width: 300px;
		margin-top: -30px;
	}
}
